{% set assetsDir = '/assets/' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% metagen
      title=meta.title,
      desc=meta.description,
      url="https://inigochoa.me" ~ page.url|url,
      twitterHandle="@inigochoa"
    %}
    <link
      href="{{ assetsDir }}css/style.css?{% version %}"
      rel="stylesheet"
    />
    <link
      href="/humans.txt?{% version %}"
      rel="author"
      type="text/plain"
    />
    <link
      href="{{ assetsDir }}images/favicon.ico?{% version %}"
      rel="icon"
    />
    <link
      href="{{ assetsDir }}images/favicon.svg?{% version %}"
      rel="icon"
      type="image/svg+xml"
    />
    <link
      href="{{ assetsDir }}images/apple-touch-icon.png?{% version %}"
      rel="apple-touch-icon"
    />
    <link
      href="/my.webmanifest"
      rel="manifest"
    />
    <meta
      content="#000000"
      media="(prefers-color-scheme: dark)"
      name="theme-color"
    />
    <meta
      content="#ffffff"
      media="(prefers-color-scheme: light)"
      name="theme-color"
    />
  </head>
  <body class="bg-light-background debug-screens flex flex-col min-h-screen dark:bg-dark-background dark:text-dark-primary">
    {% include 'partials/_header.njk' %}

    <main class="{% block mainclasses %}bg-light-content dark:bg-dark-content{% endblock %} flex-grow max-w-md mx-auto p-4 w-full sm:p-6 md:max-w-xl md:rounded-xl lg:max-w-3xl xl:max-w-5xl">
      {% include 'partials/_page_date.njk' %}

      {% block content %}
        <section class="max-w-none min-w-full prose lg:prose-lg xl:prose-xl dark:prose-dark">
          {{ content|safe }}
        </section>
      {% endblock %}
    </main>

    {% include 'partials/_footer.njk' %}

    {% include 'partials/_scroll_top_arrow.njk' %}

    <script
      src="{{ assetsDir }}js/main.js?{% version %}"
      type="module"
    ></script>
  </body>
</html>