{% set assetsDir = '/assets/' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% metagen
      title=meta.title,
      desc=meta.description,
      url="https://inigochoa.me" ~ page.url|url,
      twitterHandle="@inigochoa"
    %}
    <link
      href="{{ assetsDir }}css/style.css?{% version %}"
      rel="stylesheet"
    />
    <link
      href="/humans.txt?{% version %}"
      rel="author"
      type="text/plain"
    />
    <link
      href="{{ assetsDir }}images/apple-touch-icon.png?{% version %}"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="{{ assetsDir }}images/favicon-32x32.png?{% version %}"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="{{ assetsDir }}images/favicon-16x16.png?{% version %}"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
  </head>
  <body class="bg-gray-100 debug-screens flex flex-col min-h-screen px-8">
    {% include 'partials/_header.njk' %}

    <main class="flex-grow max-w-md mx-auto w-full md:max-w-xl lg:max-w-3xl xl:max-w-5xl">
      {% include 'partials/_page_date.njk' %}

      {% block content %}
        <section class="max-w-none min-w-full prose lg:prose-lg xl:prose-xl">
          {{ content|safe }}
        </section>
      {% endblock %}
    </main>

    {% include 'partials/_footer.njk' %}

    {% include 'partials/_scroll_top_arrow.njk' %}

    <script
      src="{{ assetsDir }}js/main.js?{% version %}"
      type="module"
    ></script>
  </body>
</html>