---
permalink: /humans.txt
date: Last Modified
layout: null
---

/* TEAM */
	Chef: Iñigo Ochoa
	Contact: contact [at] inigochoa.me
	Twitter: @inigochoa
	From: Vitoria-Gasteiz, Basque Country, Spain

/* SITE */
	Last update: {{ page.date | dateymd('/') }}
	Language: English
	Doctype: HTML5
	IDE: VSCode
