<footer class="flex flex-col items-center px-4 py-10 sm:px-0">
  {% set linkCollection = collections.legalPages %}
  {% include 'partials/link/_list.njk' %}

  <p class="font-light mt-4 text-center">Copyright (c) {% currentYear %} Iñigo Ochoa. Built with <a
    href="https://www.11ty.dev/"
    rel="noopener noreferrer"
    target="_blank"
  >Eleventy</a>.</p>
</footer>