<header class="flex flex-col items-center px-4 py-6 sm:px-0 md:py-12">
  <p class="font-light my-4 text-2xl text-center md:my-8">Iñigo Ochoa / Backend developer</p>

  {% include 'partials/_nav.njk' %}
</header>