<header class="flex flex-col items-center px-4 py-6 sm:px-0 md:py-12">
  <a
    class="font-light my-4 text-2xl text-center hover:text-current md:my-8"
    href="{{ '/'|url }}"
    title="Homepage"
  >Iñigo Ochoa / Backend developer</a>

  {% include 'partials/_nav.njk' %}
</header>