<header class="flex flex-col items-center py-6 md:py-12">
  <a
    class="font-light my-4 text-2xl hover:text-current md:my-8"
    href="{{ '/'|url }}"
    title="Homepage"
  >Iñigo Ochoa / Backend developer</a>

  {% include 'partials/_nav.njk' %}
</header>