<button
  class="bg-gray-400 bottom-48 duration-500 ease-in-out fixed opacity-0 p-2 right-6 rounded-full shadow-xl text-white transition-opacity focus:bg-garnet hover:bg-garnet md:bottom-16"
  id="scrollTopButton"
  title="Scroll to the top of the article"
>
  <svg
    class="fill-current"
    height="24"
    viewBox="0 0 24 24"
    width="24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 0h24v24H0z"
      fill="none"
    />
    <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
  </svg>
</button>